.content{
    margin:0% 5%;
}

.btn-login {
    background-color: #007bff;
    border-radius: 20px;
    width: 200px;
    padding: 0px 0%;
    margin: 4% 30%;
    border-color: #007bff;
    display: inline-block;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    padding: 10px 10px;
    text-decoration: none;
    transition: all 0.3s ease;
    text-decoration: none;
}

.manipulate{
    margin:5% 0px;
}
    .manipulate .add {
        background-color: #007bff;
        border-radius: 20px;
        width: 100px;
        border-color: #007bff;
        display: inline-block;
        color: #fff;
        font-size: 13px;
        font-weight: 500;
        padding: 10px 10px;
        text-decoration: none;
        transition: all 0.3s ease;
        text-decoration: none;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 4%;
}
    .manipulate .update {
        background-color: #1f5b06;
        border-radius: 20px;
        width: 100px;
        margin: 4% 0%;
        border-color: #1f5b06;
        display: inline-block;
        color: #fff;
        font-size: 13px;
        font-weight: 500;
        padding: 10px 10px;
        text-decoration: none;
        transition: all 0.3s ease;
        text-decoration: none;
    }
    .manipulate .delete {
        background-color: #a31717;
        border-radius: 20px;
        width: 100px;
        margin: 4% 0%;
        border-color: #a31717;
        display: inline-block;
        color: #fff;
        font-size: 13px;
        font-weight: 500;
        padding: 10px 10px;
        text-decoration: none;
        transition: all 0.3s ease;
        text-decoration: none;
    }
    .manipulate .issue {
        background-color: #007bff;
        border-radius: 0px;
        width: 150px;
        margin: 0% 0%;
    }
     